.navMain {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 60px;
}


        .menuLinkWrap {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0px;
            margin: auto 0px;
            margin-right: 30px;
            height: 47%;
            list-style-type: none;
            justify-content: space-between;
            align-items: flex-end;
        }

        
            .home > a{
                background-image: url(../../icons/iconmonstr-home-6.svg);
            }
            
            .about > a{
                background-image: url(../../icons/iconmonstr-user-14.svg);
            }
            
            .works > a{
                background-image: url(../../icons/iconmonstr-briefcase-9.svg);
            }
            
            .contacts > a{
                background-image: url(../../icons/iconmonstr-email-7.svg);
            }
            
            .remote > a{
                background-image: url(../../icons/iconmonstr-sitemap-8.svg);
            }

            .menuLinkWrap a {
                position: relative;
                display: flex;
                transition: all 0.3s;
                background-color: var(--noactive_dark);
                color: whitesmoke;
                background-position: right 17px top 50%;
                background-repeat: no-repeat;
                text-decoration: none;
                width: 55px;
                height: 55px;
                border-radius: 50px;
            }  

            .menuLinkWrap > li:hover a{
                transition: all 0.3s;
                background-color: var(--active_yellow);
                width: 160px;
                /* box-shadow: 0px 0px 7px 1px rgb(180 180 180); */
            }

            .menuLinkWrap > li > a:focus{
                background-color: var(--active_yellow);
            }
           
                .navMain a > h3{
                    opacity: 0;
                    background-color: transparent;
                    margin: auto 0px;
                }

                .menuLinkWrap > li:hover h3{
                    transition: all 0.7s;
                    opacity: 1;
                }

@media (max-width: 769px) {
    .menuLinkWrap > a {
        margin: 0px 15px;
    }
}

@media (max-width: 481px) {
    /* .menuWrap {
        justify-content: center;
    } */

    .menuLinkWrap > a {
        margin: 0px 5px;
    }
}