.button{
    position: relative;
    width: 210px;
    height: 51px;
    display: flex;
    border-radius: 50px;
    justify-content: flex-end;
    border: 2px solid var(--active_yellow);
    margin-top: 25px;

    &:hover > button{
        transition: all 0.3s;
        width: 214px;
    }

    button{
        position: absolute;
        right: -2px;
        top: -2px;
        width: 55px;
        height: 55px;
        border-radius: 50px;
        border: none;
        outline: none;
        background-color: var(--active_yellow);
        background-repeat: no-repeat;
        background-position: right 17px top 55%;

        h3{
            position: absolute;
            color: var(--light);
            width: 120px;
            opacity: 1;
            z-index: 2;
            top: 9px;
            right: 80px;
            font-size: 19px;
            margin-top: 8px;
        }
    }
}

    // .button > button{
    //     position: absolute;
    //     right: -2px;
    //     top: -2px;
    //     width: 55px;
    //     height: 55px;
    //     border-radius: 50px;
    //     border: none;
    //     outline: none;
    //     background-color: var(--active_yellow);
    //     background-repeat: no-repeat;
    //     background-position: right 17px top 55%;
    // }

    // .button:hover > button{
    //     transition: all 0.3s;
    //     width: 214px;
    // }

    // .button h3{
    //     position: absolute;
    //     color: var(--light);
    //     width: 120px;
    //     opacity: 1;
    //     z-index: 2;
    //     top: 9px;
    //     right: 80px;
    //     font-size: 19px;
    //     margin-top: 8px;
    // }