.myWorkCardWrap{
    position: relative;
    overflow: hidden;
    width: 290px;
    margin: 15px;

    .imgLink{
        height: 165px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border-radius: 10px;
    }

    .aviasales{
        background-image: url(../../../imgs/my_works_imgs/depositphotos_75617037-stock-photo-air-tickets-with-sunset-and.jpg);
    }

    .todo{
        background-image: url(../../../imgs/my_works_imgs/to-do-list.jpg);
    }

    .social{
        background-image: url(../../../imgs/my_works_imgs/1200-630-kopirovat-425-1024x538.jpg);
    }

    .race{
        background-image: url(../../../imgs/my_works_imgs/222-1024x640.jpg);
    }

    .skinali{
        background-image: url(../../../imgs/my_works_imgs/fint_043-3.jpg);
    }

    .aviator{
        background-image: url(../../../imgs/my_works_imgs/aviator-games.jpg);
    }

    .calendar{
        background-image: url(../../../imgs/my_works_imgs/calendar300x300.jpg);
    }

    .furniture{
        background-image: url(../../../imgs/my_works_imgs/Olympia.jpg);
    }

    .calc{
        background-image: url(../../../imgs/my_works_imgs/unnamed.jpg);
    }

    .dialog{
        background-image: url(../../../imgs/my_works_imgs/org_Vidyi-obshheniya-v-sotsialnyih-setyah.jpg);
    }
    .marvel{
        background-image: url(../../../imgs/my_works_imgs/marvel-films-2020.jpg);
    }
    .medium{
        background-image: url(../../../imgs/my_works_imgs/0_ZRVxe3SsWW851UoZ.png);
    }
    .vueblog{
        background-image: url(../../../imgs/my_works_imgs/vue3.png);  
    }
}

    

    /* .myWorkCardWrap > div {
        display: flex;
        flex-direction: column;
    }

    .myWorkCardWrap > div:first-of-type {
        height: 240px;
    }

    .myWorkCardWrap > div:last-of-type {
        border-top: 1px solid black;
        padding-left: 5px;
    }

        .myWorkCardWrap button{
            margin: auto auto;
        }

        .myWorkCardDescription {
            height: 60px;
            margin-bottom: 5px;
            margin-right: 5px;
            background-color: chocolate;
        } */

@media (max-width: 1025px) {
    .myWorkCardWrap{
        min-width: 280px;
        height: 165px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

@media (max-width: 682px) {
    .myWorkCardWrap{
        max-width: 360px;
    }
}

@media (max-width: 384px) {
    .myWorkCardWrap{
        width: 280px;
        height: 150px;
        margin: 0px auto;
        margin-bottom: 50px;
        .imgLink{
            height: 150px;
            width: 97%;
        }
    }
}
