.myWorkCardWrap{
    position: relative;
    overflow: hidden;
    width: 290px;
    margin: 15px;

    .imgLink{
        height: 165px;
        width: 100%;
        background-color: violet;
        // background-image: url(../../../imgs/aviasales.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        // background-color: transparent;
        border-radius: 10px;
    }
}

    

    /* .myWorkCardWrap > div {
        display: flex;
        flex-direction: column;
    }

    .myWorkCardWrap > div:first-of-type {
        height: 240px;
    }

    .myWorkCardWrap > div:last-of-type {
        border-top: 1px solid black;
        padding-left: 5px;
    }

        .myWorkCardWrap button{
            margin: auto auto;
        }

        .myWorkCardDescription {
            height: 60px;
            margin-bottom: 5px;
            margin-right: 5px;
            background-color: chocolate;
        } */

@media (max-width: 1025px) {
    .myWorkCardWrap{
        min-width: 280px;
        height: 165px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}

@media (max-width: 682px) {
    .myWorkCardWrap{
        max-width: 360px;
    }
}

@media (max-width: 384px) {
    .myWorkCardWrap{
        width: 280px;
        height: 150px;
        margin: 0px auto;
        margin-bottom: 50px;
        .imgLink{
            height: 150px;
            width: 97%;
        }
    }
}
