.skills {
    padding: var(--main_blocks_wrapper_padding) 0px;
    margin: 0px 70px;
}

    .skillsWrap {
        display: flex;
        flex-direction: column;
        width: var(--main_blocks_wrapper_width);
        margin: 0px auto;
    }

        .skillsWrap > div:last-of-type{
             border-top: none;
        }

            .skillsWrap h3{
                line-height: 1.2;
                font-size: 26px;
                text-transform: uppercase;
                text-align: center;
                margin: 0px auto;
            }

            .skillsWrap h5 {
                line-height: 1.2;
                font-size: 22px;
                margin-top: 5px;
                margin-bottom: 0px;
                text-transform: uppercase;
                /* text-align: center;
                width: 175px;
                margin: 0px auto;
                margin-bottom: 40px;
                background-color: cornsilk; */
            }

            .skillsCollection {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 1000px;
                margin: 0px auto;
            }
        

@media (max-width: 481px) {
    .skillsCollection {
        flex-direction: column;
        align-items: center;
    }

        .skillsWrap > div:first-of-type {
            padding-top: 30px;
        }

        .skillsWrap h3 {
            margin-bottom: 10px;
        }
}