.aboutMe h3{
    line-height: 1.2;
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
}

.separator{
    border: none;
    border-top: 1px solid var(--line_color);
    margin: 40px auto 40px;
    max-width: 40%;
}



.aboutMeTitle{
    margin: 40px 0px;
}

    .aboutMeTitle > h1{
        font-size: 54px;
        text-align: center;
        color: var(--dark_text);
        text-transform: uppercase;
        margin: 0 auto;
        font-family: 'Rubik Mono One', sans-serif;
    }

        .aboutMeTitle > h1 > span{
            color: var(--active_yellow);
            margin-left: 10px;
        }

    .aboutMeTitle > span{
        display: block;
        font-family: 'Rubik Mono One', sans-serif;
        text-align: center;
        font-size: 100px;
        left: 0;
        letter-spacing: 10px;
        line-height: 0.7;
        position: absolute;
        right: 0;
        top: 75px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.07);
    }

.info{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1100px;
}

    .personalInfo{
        display: flex;
        flex-direction: column;
    }

        .personalInfo > h3{
            margin-left: 0px;
        }

        .personalInfo > ul{
            display: flex;
            height: 170px;
            flex-wrap: wrap;
            flex-direction: column;
            list-style-type: none;
            line-height: 40px;
            padding: 0px;
            font-size: 18px;
        }

            .personalInfo > ul > li{
                margin-right: 30px;
                word-spacing: -7px;
            }

                .personalInfo > ul > li > span:first-of-type{
                    text-transform: capitalize;
                    color: var(--light_line_color);
                }

            .buttonwrap{
                position: relative;
                width: 210px;
                height: 53px;
                display: flex;
                border-radius: 50px;
                justify-content: flex-end;
                border: 2px solid var(--active_yellow) ;
                margin-top: 25px;
            }
    
            .buttonwrap:hover > button{
                transition: all 0.3s;
                width: 214px;
            }
    
            .buttonwrap > button > h3{
                position: absolute;
                color: var(--light);
                width: 120px;
                opacity: 1;
                z-index: 2;
                top: 9px;
                right: 80px;
                font-size: 17px;
            }
    
            .buttonwrap > button{
                position: absolute;
                right: -1px;
                top: -1px;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                border: none;
                outline: none;
                background-color: var(--active_yellow);
                background-repeat: no-repeat;
                background-image: url(../../icons/iconmonstr-download-19.svg);
                background-position: right 15px top 50%;
            }
    
.expirience{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 25px;
    align-items: flex-end;
}

    .expirience > div{
        border: 1px solid var(--line_color);
        height: 150px;
        margin-bottom: 30px;
        width: 210px;
    }

        .expirience > div > h3{
            display: inline-block;
            position: relative;
            margin: 0;
            margin-left: 30px;
            font-size: 60px;
            color: var(--active_yellow);
        }

        .expirience > div > p{
            position: relative;
            padding-left: 70px;
            width: 50px;
            font-size: 20px;
            line-height: 1.5;
            margin-top: 0px;
        }

        .expirience > div > p::before{
            content: "";
            position: absolute;
            left: 32px;
            top: 16px;
            width: 30px;
            height: 1px;
            background: var(--light_line_color);
        }

        .expirience > div > h3::after{
            content: '+';
            position: absolute;
            right: -25px;
            font-size: 40px;
            font-weight: 300;
        }
