.educationBlock{
    display: block;
    margin: 0px auto;
    max-width: 1100px;
    margin-bottom: 60px;
}

    .educationBlock > ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 35px;
    }