.educationBlock{
    display: block;
    margin: 0px auto;
    max-width: 1100px;
    margin-bottom: 60px;

    h3{
        line-height: 1.2;
        font-size: 26px;
        text-transform: uppercase;
        text-align: center;
        margin: 0px auto;
    }

    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 55px;
        padding: 0px;
    }
}

@media (max-width: 1025px) {
    .educationBlock{
        ul{
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: center;
        }
    }
}