.myWorks {
    padding: var(--main_blocks_wrapper_padding) 0px;

    .myWorksWrap {
        display: flex;
        flex-direction: column;
        width: var(--main_blocks_wrapper_width);
        margin: 0px auto;

        .header {
            h1{
                font-size: 54px;
                text-align: center;
                color: var(--dark_text);
                text-transform: uppercase;
                margin: 0 auto;
                font-family: 'Rubik Mono One', sans-serif;

                span{
                    color: var(--active_yellow);
                    margin-left: 10px;
                }
            }

            .shadow{
                display: block;
                font-family: 'Rubik Mono One', sans-serif;
                text-align: center;
                font-size: 100px;
                left: 0;
                line-height: 0.7;
                position: absolute;
                right: 0;
                top: 75px;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.07);
            }
        }

        .myWorksCollection {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1100px;
            margin: 0px auto;
            margin-top: 40px;
        }

        .ghLink{
            position: relative;
            width: 210px;
            height: 51px;
            display: flex;
            border-radius: 50px;
            justify-content: flex-end;
            border: 2px solid var(--active_yellow);
            margin: 0px auto;
            margin-top: 55px;

            &::before{
                content: '';
                width: 40px;
                position: absolute;
                top: -40px;
                left: 78px;
                height: 2px;
                background-color: var(--light_line_color);
                transform: rotateZ(90deg);
            }

            &:hover > a{
                transition: all 0.3s;
                width: 214px;
            }

            a{
                display: block;
                position: absolute;
                right: -3px;
                top: -2px;
                width: 55px;
                height: 55px;
                border-radius: 50px;
                border: none;
                outline: none;
                background-color: var(--active_yellow);
                background-size: 40px 40px;
                background-repeat: no-repeat;
                background-image: url(../../icons/iconmonstr-github-1.svg);
                background-position: right 8px top 55%;

                h3{
                    position: absolute;
                    color: var(--light);
                    width: 120px;
                    opacity: 1;
                    z-index: 2;
                    top: 9px;
                    right: 80px;
                    font-size: 19px;
                    margin-top: 8px;
                }
            }
        }

    } 
}

    

@media (max-width: 481px) {
    .myWorksCollection {
        flex-direction: column;
        align-items: center;
    }

        .myWorksWrap > div:first-of-type {
            padding-top: 30px;
        }

        .myWorksWrap h3 {
            margin-bottom: 10px;
        }
}
