.myHome {
    padding-top: var(--main_blocks_wrapper_padding);
    padding-bottom: var(--main_blocks_wrapper_padding);

    .homeMeWrap {
        position: relative;
        width: var(--main_blocks_wrapper_width);
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::before{
            content: '';
            position: absolute;
            top: -30px;
            left: -130px;
            width: 450px;
            height: 100vh;
            background-color: var(--active_yellow);
            clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
            z-index: 1;
        }

        .homeMeImage{
            z-index: 100;
        }

        .homeMeDescription {
            position: relative;
            max-width: 650px;
            margin-right: 100px;

            .homeTitle{
                padding-left: 75px;
                max-width: 455px;

                h1{
                    font-size: 51px;
                    line-height: 62px;
                    margin-bottom: 0px;
                    color: var(--active_yellow);

                    &::before{
                        content: '';
                        position: absolute;
                        top: 70px;
                        left: 20px;
                        height: 4px;
                        width: 40px;
                        border-radius: 10px;
                        background-color: var(--active_yellow);
                    }
                }

                span{
                    color: var(--light);
                    display: inline-block;
                    font-size: 51px;
                    line-height: 62px;
                    font-weight: 700;
                }
            }

            p{
                margin-left: 15px;
                line-height: 25px;
                font-size: 18px;
            }

            &:last-of-type{
                margin-bottom: 45px;
            }

            .buttonwrap{
                position: relative;
                width: 210px;
                height: 51px;
                display: flex;
                border-radius: 60px;
                margin-left: 15px;
                justify-content: flex-end;
                border: 2px solid var(--active_yellow);

                &:hover > .navlink{
                    transition: all 0.3s;
                    width: 214px;
                }

                .navlink{
                    position: absolute;
                    right: -2px;
                    top: -1px;
                    width: 53px;
                    height: 53px;
                    background-color: var(--active_yellow);
                    background-image: url(../../icons/iconmonstr-arrow-20.svg);
                    background-size: 25px 25px;
                    background-position: right 15px top 50%;
                    border-radius: 50px;

                    &:hover{
                        transition: all 0.3s;
                        width: 214px;
                    }

                    h4{
                        position: absolute;
                        opacity: 1;
                        z-index: 2;
                        top: 15px;
                        right: 70px;
                        font-size: 19px;
                        margin: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 962px) {
    .myHome{
        .homeMeWrap {
            flex-direction: column;
    
            &::before{
                display: none;
            }

            .homeMeImage{
                z-index: 1;
            }
    
            .homeMeDescription {
                margin-right: 0px;
    
                .homeTitle{
                    padding-left: 0px;
                    max-width: unset;
    
                    h1{
                        font-size: 40px;
                        line-height: 40px;
                        margin-top: 35px;
                        text-align: center;
    
                        &::before{
                            display: none;
                        }
                    }
    
                    span{
                        display: block;
                        font-size: 40px;
                        line-height: 40px;
                        text-align: center;
                    }
                }
    
                p{
                    text-align: center;
                    font-size: 16px;

                    &:last-of-type{
                        margin-bottom: 45px;
                    }
                }
    
                .buttonwrap{
                    margin: 0px auto;
                }
            }
        }
    }
}

@media (max-width: 562px){
    .myHome{
        .homeMeWrap {
            flex-direction: column;
    
    
            .homeMeImage{
                display: none;
            }
    
            .homeMeDescription {
                margin-top: 20%;
    
                .homeTitle{
                    padding-left: 0px;
    
                    h1{
                        font-size: 30px;
                        text-align: start;
                    }
    
                    span{
                        font-size: 30px;
                        text-align: start;
                    }
                }
    
                p{
                    text-align: start;
                    margin-left: 0px;
                    margin-top: 10px;
                    font-size: 15px;

                    &:last-of-type{
                        margin-bottom: 25px;
                    }
                }
    
                .buttonwrap{
                    margin: 0px;
                }
            }
        }
    }
}

@media (max-width: 326px) {
    .myHome{
        .homeMeWrap {
            .homeMeDescription {
                .homeTitle{
                    h1{
                        font-size: 25px;
                    }

                    span{
                        font-size: 25px;
                    }
                }
            }
        }
    }
}
