.myHome {
    padding-top: var(--main_blocks_wrapper_padding);
    padding-bottom: var(--main_blocks_wrapper_padding);
}

    .homeMeWrap {
        position: relative;
        width: var(--main_blocks_wrapper_width);
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .homeMeWrap::before{
        content: '';
        position: absolute;
        top: -70px;
        left: -40px;
        width: 330px;
        height: 100vh;
        background-color: var(--active_yellow);
        clip-path: polygon(0 0, 30% 0, 100% 100%, 0% 100%);
        z-index: 1;
    }

        .homeMeImage{
            z-index: 100;
            height: calc(100vh - 100px);
            min-width: calc(25vw + 80px);
            border-radius: 30px;
            box-shadow: 0 0 7px rgb(0 0 0 / 90%);
            background-color: blanchedalmond;
            background-image: url(../../imgs/AirBrush_20200203115910\ \(2\)_LI.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .homeMeDescription {
            position: relative;
            max-width: 650px;
            margin-right: 100px;
        }

        .homeMeDescription > h1{
            text-align: center;
            font-size: 51px;
            line-height: 62px;
            font-weight: 700;
            margin-bottom: 0px;
            color: var(--active_yellow);
        }

        .homeMeDescription > span{
            color: var(--light);
            display: inline-block;
            font-size: 51px;
            line-height: 62px;
            font-weight: 700;
            margin-left: 65px;
            margin-bottom: 30px;
        }

        .homeMeDescription > p{
            margin-left: 15px;
            line-height: 25px;
            font-size: 18px;
        }

        .homeMeDescription > p:last-of-type{
            margin-bottom: 45px;
        }

        .buttonwrap{
            position: relative;
            width: 210px;
            height: 63px;
            display: flex;
            border-radius: 60px;
            margin-left: 15px;
            justify-content: flex-end;
            border: 2px solid var(--active_yellow) ;
        }

        .buttonwrap:hover > a{
            transition: all 0.3s;
            width: 214px;
        }

        .buttonwrap > a > h3{
            position: absolute;
            opacity: 1;
            z-index: 2;
            top: 20px;
            right: 55px;
            font-size: 20px;
        }

        .buttonwrap > a{
            position: absolute;
            right: -1px;
            top: -1px;
            width: 65px;
            height: 65px;
            background-color: var(--active_yellow);
            background-image: url(../../icons/iconmonstr-arrow-20.svg);
            background-position: right 20px top 50%;
        }

        .buttonwrap > a:hover{
            transition: all 0.3s;
            width: 214px;
        }

        .homeMeDescription > h1::before{
            content: '';
            position: absolute;
            top: 70px;
            left: 20px;
            height: 4px;
            width: 40px;
            border-radius: 10px;
            background-color: var(--active_yellow);
        }

@media (max-width: 481px) {
    .homeMeWrap {
        align-items: stretch;
        flex-direction: column;
        padding: var(--main_blocks_wrapper_small_padding);
    }

        .homeMeDescription {
            width: auto;
            margin-top: 20px;
            align-self: stretch;
        }
}