.progressBarBlock{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5%;
    margin-top: 35px;

    .progressBarWrap{
        position: relative;
        width: 140px;
        height: 140px;

        .back{
            position: absolute;
            width: 129px;
            top: 6px;
            left: 5px;
            height: 129px;
            background-color: var(--noactive_dark);
            border-radius: 50%;
            z-index: 1;
        }

        .scale{
            position: absolute;
            text-align: center;
            line-height: 106px;
            text-shadow: 0px -5px 15px white;
            font-size: 30px;
            top: 16px;
            left: 16px;
            width: 107px;
            height: 108px;
            border-radius: 50%;
            background-color: var(--main_black);
            box-shadow: #ffde8f 0px 0px 14px -9px;
            z-index: 2;
        }

        svg{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 4;

            .circle{
                transform-origin: center;
                transform: rotateZ(-90deg);
                stroke: var(--active_yellow);
                stroke-width: 12px;
            }
         }
    }
    
}

@media (max-width: 769px) {
    .progressBarBlock{
        width: 35%;
    }
}  