@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
  --main_blocks_wrapper_width: 95%;
  --main_blocks_wrapper_padding: 30px;
  --main_blocks_wrapper_small_padding: 10px;

  --light: #f8f9fa;
  --line_color: #252525;
  --light_line_color: #777;
  --dark_text: #fff;
  --icon_grey: #ddd;
  --active_yellow: #ffb400;
  --noactive_dark: #2b2a2a;
  --main_black: #111;
  --left_line_ediq_block: #333;
  --dark_background: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--dark_text);
  background-color: var(--main_black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Fira Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0;
}

ul{
  list-style-type: none;
}

button{
  cursor: pointer;
  transition: all 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

