.separator{
    border: none;
    border-top: 1px solid var(--line_color);
    margin: 0px auto 40px;
    max-width: 40%;
}

.contacts {
    padding: var(--main_blocks_wrapper_padding) 0px;
}

    .contactsWrap {
        height: 400px;
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0px auto;
        margin-top: 70px;
    }

        .header > h1{
            font-size: 54px;
            text-align: center;
            color: var(--dark_text);
            text-transform: uppercase;
            margin: 0 auto;
            font-family: 'Rubik Mono One', sans-serif;
        }

        .header > h1 > span{
            color: var(--active_yellow);
            margin-left: 10px;
        }

        .header > span{
            display: block;
            font-family: 'Rubik Mono One', sans-serif;
            text-align: center;
            font-size: 100px;
            left: 0;
            line-height: 0.7;
            position: absolute;
            right: 0;
            top: 75px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.07);
        }

        .contactsWrap > h3 {
            margin-top: 0px;
            text-align: center;
        }

        .contactsShield{
            width: 70%;
            margin-right: 40px;
        }

            .contactsShield > h3{
                line-height: 1.2;
                font-size: 26px;
                text-transform: uppercase;
                margin: 0px auto;
            }

            .contactsShield > p{
                font-size: 16px;
                line-height: 18px;
            }

            .snLinksWrap{
                display: flex;
                width: 65%;
                padding: 0px;
                justify-content: space-between;
                margin-top: 25px;
            }

                .snLinksWrap > li > a{
                    width: 40px;
                    height: 40px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 50% 50%;
                }

                .snLinksWrap > li > a:hover{
                    background-color: var(--active_yellow);
                }

                    .fb{
                        background-image: url(../../icons/iconmonstr-facebook-1.svg);
                    }

                    .li{
                        background-image: url(../../icons/iconmonstr-linkedin-1.svg);
                    }

                    .git{
                        background-image: url(../../icons/iconmonstr-github-3.svg);
                    }

            .contactCard{
                display: flex;
                align-items: center;
                margin: 15px;
                margin-left: 0px;
            }

            .contactCard > div:first-of-type{
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 35px;
                height: 35px;
            }

                .contact{
                    margin-left: 25px;
                }

                .contact > h6{
                    margin: 0px;
                    text-transform: uppercase;
                    opacity: 0.8;
                    font-size: 22px;
                }

                .contact > span{
                    font-size: 17px;    
                }

                .email{
                    background-image: url(../../icons/iconmonstr-email-1.svg);
                }

                .contactsWrap .contactCard > .phone{
                    background-size: 80% 80%;
                    border-radius: 7px;
                    background-color: var(--active_yellow);
                    background-image: url(../../icons/iconmonstr-phone-3.svg);
                }

        .contactsWrap > form {
            display: flex;
            flex-direction: column;
            margin: 0px auto;
            width: 160%;
            min-height: 200px;
        }

            .inputWrap{
                display: flex;
                justify-content: space-between;
            }

                .inputWrap > input{
                    height: 30px;
                    width: 28%;
                    border-radius: 25px;
                    background-color: var(--line_color);
                    padding: 10px 15px;
                    border: none;
                    color: var(--dark_text);
                    font-size: 16px;
                }

            .contactsWrap > form > textarea {
                resize: none;
                height: 150px;
                font-size: 20px;
                padding: 5px;
                border-radius: 25px;
                margin-top: 50px;
                background-color: var(--line_color);
                padding: 10px 15px;
                color: var(--dark_text);
                border: none;
            }

            form > .buttonWrap button{
                background-image: url(../../icons/iconmonstr-paper-plane-1.svg);
            }

@media(max-width: 426px) {
    .contactsWrap {
        border: none;
    }
        .contactsWrap > form {
            width: 100%;
            justify-content: space-around;
            border: none;
        }
}

@media(max-width: 376px) {
    .contactsWrap {
        width: 100%;
    }
}