.separator{
    border: none;
    border-top: 1px solid var(--line_color);
    margin: 40px auto;
    max-width: 40%;
}

.contacts {
    padding: var(--main_blocks_wrapper_padding) 0px;
        div:first-of-type{
            span{
                top: 65px;
            }
        }

    .contactsWrap {
        min-height: 400px;
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0px auto;
        margin-top: 70px;

        .contactsShield{
            width: 30%;
            margin-right: 40px;

            div:nth-child(4){
                div:first-of-type{
                    background-size: 80% 80%;
                    border-radius: 7px;
                    background-color: var(--active_yellow);
                    background-image: url(../../icons/iconmonstr-phone-3.svg);
                }
            }

            h3{
                line-height: 1.2;
                font-size: 26px;
                text-transform: uppercase;
                margin: 0px auto;
                margin-top: 0px;
            }

            p{
                font-size: 16px;
                line-height: 18px;
            }

            .contactCard{
                display: flex;
                align-items: center;
                margin: 15px;
                margin-left: 0px;

                div:first-of-type{
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 35px;
                    height: 35px;
                }

                .email{
                    background-image: url(../../icons/iconmonstr-email-1.svg);
                }

                .contact{
                    margin-left: 25px;

                    .phoneNum{
                        position: relative;
                        display: block;
                        transition: none;
                        background: none;
                        color: whitesmoke;
                        text-decoration: none;
                        width: auto;
                        height: auto;
                        border-radius: 0px;
                    }

                    h6{
                        margin: 0px;
                        text-transform: uppercase;
                        opacity: 0.8;
                        font-size: 22px;
                    }

                    span{
                        font-size: 17px;    
                    }
                }
            }

            .snLinksWrap{
                display: flex;
                width: 65%;
                padding: 0px;
                justify-content: space-between;
                margin-top: 25px;

                li{
                    a{
                        width: 40px;
                        height: 40px;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 50% 50%;

                        &:hover{
                            background-color: var(--active_yellow);
                        }
                    }

                    .fb{
                        background-image: url(../../icons/iconmonstr-facebook-1.svg);
                        border-radius: 50%;
                    }

                    .li{
                        background-image: url(../../icons/iconmonstr-linkedin-1.svg);
                        border-radius: 50%;
                    }

                    .git{
                        background-image: url(../../icons/iconmonstr-github-3.svg);
                        border-radius: 50%;
                    }
                }
            }
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        max-width: 65%;
        min-height: 200px;
        margin-right: 100px;


        .inputWrap{
            display: flex;
            justify-content: space-between;

            div{
                width: 32%;
                position: relative;

                .errorMessage{
                    position: absolute;
                    top: -40px;
                    left: 5px;
                    width: 100%;
                }

                input{
                    height: 30px;
                    width: 85%;
                    border-radius: 25px;
                    background-color: var(--line_color);
                    padding: 10px 15px;
                    border: none;
                    color: var(--dark_text);
                    font-size: 17px;
    
                    //Very strange bug with input focus
                    &:focus{
                        border: none;
                        box-shadow: 0px 0px 3px 2px var(--active_yellow);
                    }
    
                    &:nth-child(2){
                        margin: 0px 10px;
                    }
                }
            }

        }

        .textareaWrap{
            position: relative;

            .errorMessage{
                position: absolute;
                top: 20px;
                left: 5px;
                width: 100%;
            }

            textarea {
                resize: none;
                width: 95%;
                min-height: 150px;
                font-size: 20px;
                padding: 5px;
                border-radius: 25px;
                margin-top: 50px;
                background-color: var(--line_color);
                padding: 10px 15px;
                color: var(--dark_text);
                border: none;  
            }
        }

        .buttonWrap{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            button{
                background-image: url(../../icons/iconmonstr-paper-plane-1.svg);
            }
        }
    }
}
}

@media (max-width: 962px) {
    .contacts{
        padding-left: 30px;
        padding-right: 30px;

        .contactsWrap{
            flex-direction: column;

            .contactsShield{
                width: 100%;

                .snLinksWrap{
                    width: 30%;
                    margin-bottom: 40px;
                }
            }
        }

        form:first-of-type{
            margin: 0px;
            max-width: 100%;

            .inputWrap{
                flex-direction: column;
                align-items: center;

                div{
                    width: 90%;
                    margin-bottom: 35px;

                    .errorMessage{
                        top: -25px;
                    }

                    input{
                        width: 95%;

                        &:nth-child(2){
                            margin-bottom: 35px;
                        }
                    }
                }

            }

            .textareaWrap{
                width: 90%;
                margin: 0px auto;

                .errorMessage{
                    top: -25px;
                }

                textarea{
                    margin-top: 0px;
                }
            }

        }
    }
}

@media (max-width: 562px) {
    .contacts{
        .contactsWrap{
            .contactsShield{
                .snLinksWrap{
                    width: 50%;
                }
            }

            form{
                .inputWrap{
                    div{
                        width: 100%;
                    }
                }
        
                .textareaWrap{
                    width: 100%;
                }

                .buttonWrap{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            };
        }
    }
}

//To clarify are this code is normal and valid
@media (max-width: 372px) {
    .contacts{
        padding-left: 15px;

        .contactsWrap{
            .contactsShield{
                .contactCard{
                    .contact{
                        margin-left: 10px;
                    }
                }
                div:nth-child(3){
                    div{
                        span:first-of-type{
                            font-size: 13px;
                        }
                    }
                }

                .snLinksWrap{
                    width: 70%;
                }
            }
        }
    }
}
